In [83]:
import pandas as pd
import numpy as np

In [84]:
data={1:'a',2:'b',3:'c',5:'d',15:'e',20:'f'}

In [85]:
data_s=pd.Series(data)

In [86]:
data_s

1     a
2     b
3     c
5     d
15    e
20    f
dtype: object

In [87]:
data_s.iloc[2]

'c'

In [88]:
a=[[1,2],[3,4]]
print(a)
np_a=np.array(a)
np_a

[[1, 2], [3, 4]]

array([[1, 2],
       [3, 4]])

In [89]:
df=pd.DataFrame(np_a,columns=['Calif','Illin'],index=['a','b'])
print(df)

   Calif  Illin
a      1      2
b      3      4

In [90]:
s1=pd.Series([1,2,3],index=['a','b','c'])
s2=pd.Series([2],index=['b'])
s=s1+s2
s

a    NaN
b    4.0
c    NaN
dtype: float64

In [91]:
drop_s=s.dropna()
drop_s

b    4.0
dtype: float64

In [92]:
s.fillna(0)

a    0.0
b    4.0
c    0.0
dtype: float64

In [98]:
df_movie_rating=pd.DataFrame({'movie1':[5,4,3,3,2,1],'movie2':[4,5,3,2,4,2]},index=['Tom','Jeff','Peter','Ram','Ted','Paul'])
df_movie_rating

       movie1  movie2
Tom         5       4
Jeff        4       5
Peter       3       3
Ram         3       2
Ted         2       4
Paul        1       2

In [99]:
def rate_ABC(rating):
    if(rating==5):
        return 'A'
    elif(rating==4):
        return 'B'
    elif(rating==3):
        return 'C'
    elif(rating==2):
        return 'D'
    else:
        return 'F'

In [100]:
rate_ABC(5)

'A'

In [102]:
df_movie_rating.applymap(rate_ABC)

      movie1 movie2
Tom        A      B
Jeff       B      A
Peter      C      C
Ram        C      D
Ted        D      B
Paul       F      D

In [103]:
df_movie_rating.mean()

movie1    3.000000
movie2    3.333333
dtype: float64

In [105]:
df_movie_rating.std()

movie1    1.414214
movie2    1.211060
dtype: float64

In [107]:
df_movie_rating.min()

movie1    1
movie2    2
dtype: int64